.seat-button {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    line-height: 2rem;
    padding: 0.2rem;
    font-size: 0.7rem;
    color: #f1f1f1;
}


.choosed {
    background-color: orange;
}