.table-infoseats {
    width: 100%;
    height: 200px;
    margin-top: 0.7rem;
    border-radius: 7px;
    background-color: rgba(53, 53, 53, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    transition: all 0.3s;
}

.table-infoseats th {
    font-size: 0.7rem;
    color: orange;
    text-align: center;
    border-bottom: 1px solid #ababab;
    background-color: transparent;
}


.table-infoseats td {
    font-size: 0.7rem;
    background-color: transparent;
    color: #fff;
    text-align: center;
}