@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../img/bgmovie.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}