.form-resigter {
    width: 100%;
    height: max-content;
    padding: 1rem;

    background-color: rgba(53, 53, 53, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    transition: all 0.3s;
}

.form-title {
    font-size: 0.8rem;
    color: orange;
}

.form-input {
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    line-height: 1.5rem;
    padding: 0.2rem 0.5rem 0.2rem 1rem;
    margin: 0.5rem 0;
    color: #fff;
    background-color: rgb(65, 65, 65, 0.2);
    transition: all 0.3s;
    appearance: none;
    -webkit-appearance: none;
}

.form-input:focus {
    background-color: rgb(65, 65, 65, 1);
    color: #fff;

}

.form-input::placeholder {
    color: #bcbcbc;
}

.btn-selecting {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0 0.2rem 0;
    outline: none;
    border: 1px solid transparent;
    background-color: #414141;
    color: #f50;
    text-transform: uppercase;
}